# https://weatherstack.com
WEATHER_PASS=weatherpassworddummy
WEATHER_API_KEY=weatherapikeydummy

# PostgreSQL Connection
PG_HOST=localhost
PG_PORT=5432
PG_PORT_LOCALHOST=5432
PG_DBNAME=pgdbname
PG_USER=pguser
PG_PASSWORD=pgpassword

# Images
POSTGRES_VERSION=14.17
