# https://weatherstack.com
WEATHER_PASS=weatherpassworddummy
WEATHER_API_KEY=weatherapikeydummy

# PostgreSQL Connection
PG_HOST=localhost
PG_PORT=5432
PG_PORT_LOCALHOST=5432
PG_DBNAME=pgdbname
PG_USER=pguser
PG_PASSWORD=pgpassword

# Airflow metadata database
AF_DB=afdb
AF_PORT=8080
AF_PORT_LOCALHOST=8080
AF_ADMIN_USER=afsuper
AF_ADMIN_PASSWORD=afsuperadmin
AF_ADMIN_EMAIL=admin@example.com

# Docker
PG_CONTAINER=postgres_container
PG_TAG=14
AF_CONTAINER=airflow_container
AF_TAG=2.11.1-python3.12
